.about_wrapper {
  padding-top: 25ch;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.about_content {
  flex-wrap: wrap;
  width: 50%;
}

.hidden_images {
  flex-direction: center;
  align-content: center;
  animation: fadeIn 1s ease-in-out;
  transition: fadeIn 0.2s ease-in-out;
}

.about_body {
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  padding-top: 3%;
  animation: fadeIn 2s;
}

.typewriter {
  width: fit-content;
  text-align: center;
}
.typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 30px;
}

.special_text {
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;

  color: white;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.special_text::after {
  content: '';
  background: #94fc13;
  opacity: 0.5;
  color: black;
  position: absolute;
  left: 8px;
  bottom: -1px;
  width: calc(100% - 8px);
  height: calc(100% - 20px);
  z-index: -1;
  -webkit-transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}
.special_text:hover:after {
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 100%;
  color: black;
}

.special_text:hover {
  color: black;
  cursor: pointer;
}

.hidden_image {
  background-color: white;
  width: 10ch;
  height: 10ch;
  border-radius: 50%;
  position: absolute;
  transition: scale 0.2s ease-in-out;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #94fc13;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(9deg);
  }
}
