@import '../../App.scss';

.about_content {
  flex-wrap: wrap;
  width: 50%;
}

.about_body {
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2rem;
  padding-top: 3%;
  animation: fadeIn 2s;
}

.special_text {
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
  color: white;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.special_text::after {
  content: '';
  background: #94fc13;

  color: black;
  position: absolute;
  left: 8px;
  bottom: -1px;
  width: calc(100% - 8px);
  height: calc(100% - 20px);
  z-index: -1;
  -webkit-transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}
.special_text:hover:after {
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 100%;
  color: black;
}

.special_text:hover {
  color: black;
  cursor: pointer;
}

.hidden_image {
  background-color: white;
  width: 20ch;
  height: 20ch;
  border-radius: 50%;
  top: 20vh;
  right: 20vw;
  position: absolute;
  animation: scaleUp 1s;
  transition: scaleUp ease-in-out 1s;
}

@media (max-width: 490px) {
  .about_content {
    width: 60%;
  }
  .about_body {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .special_text {
    font-size: 1rem;
  }
}
