.about_wrapper {
  padding-top: 25ch;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: -5ch;
}
.about_content {
  flex-wrap: wrap;
  width: 50%;
}
.about_header {
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  color: #94fc13;
  text-shadow: 7px 7px black;
  font-size: 5rem;
  padding-left: 1ch;
}
.about_letter {
  transition: all ease-in-out 1s;
}
#about1 {
  display: inline-block;
  font-size: 9rem;
  transform: rotate(12deg);
  margin-right: -5px;
  animation: scaleUp 2s, rotateIn3 2s;
  color: #4be3ac;
}

#about2,
#about4 {
  display: inline-block;
  animation: scaleUp 1s, rotateIn1 1s;
}

#about3,
#about5 {
  display: inline-block;
  animation: scaleUp 1s, rotateIn2 1s;
}

#about2:hover,
#about4:hover {
  display: inline-block;
  color: white;
  transform: scale(1.7) rotate(-7deg);
  transition: all ease-in-out 0.2s;
  cursor: default;
}

#about1:hover,
#about3:hover,
#about5:hover {
  display: inline-block;
  color: white;
  transform: scale(1.5) rotate(7deg);
  transition: all ease-in-out 0.2s;
  cursor: default;
}


.about_body {
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  padding-top: 3%;
  animation: fadeIn 2s;
}

.special_text {
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
  color: white;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.special_text::after {
  content: '';
  background: #94fc13;

  color: black;
  position: absolute;
  left: 8px;
  bottom: -1px;
  width: calc(100% - 8px);
  height: calc(100% - 20px);
  z-index: -1;
  -webkit-transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}
.special_text:hover:after {
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 100%;
  color: black;
}

.special_text:hover {
  color: black;
  cursor: pointer;
}

.hidden_image {
  background-color: white;
  width: 20ch;
  height: 20ch;
  border-radius: 50%;
  position: absolute;
  animation: scaleUp 1s;
  transition: scaleUp ease-in-out 1s;
}




@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #94fc13;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotateIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(9deg);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes rotateIn1 {
  from {
    transform: rotate(9deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotateIn2 {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotateIn3 {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(12deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
