@import '../../App.scss';

.svg_container_resize {
  position: relative;
  z-index: 100;
}
.final_r {
  position: absolute;
  height: 70px;
  width: 60px;
  opacity: 0;
  animation-name: show;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  z-index: 100;
}

#hood {
  fill-opacity: 0;
  stroke: #94fc13;
  stroke-width: 1;
  stroke-dasharray: 3309;
  stroke-dashoffset: 3309;
  animation-iteration-count: 1;
  animation: draw 5s linear;
  animation-delay: 1s;
  z-index: 100;
}

@media (max-width: 800px) {
  .svg_container {
    display: none;
  }
}
