@import '../../App.scss';

.skills_list {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.skills_text {
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  color: #94fc13;
  text-shadow: 7px 7px black;
}

#html {
  font-size: 10rem;
}

#css {
  font-size: 15rem;
  margin-top: -4.5rem;
  color: #4be3ac;
}

#javascript {
  font-size: 4.8rem;
  margin-top: -4rem;
}

#react {
  font-size: 9rem;
  margin-top: -2.5rem;
  color: #4be3ac;
}

.letter {
  display: inline-block;
  transition: ease-in-out 1s;
}

#letter1,
#letter3,
#letter5,
#letter6,
#letter9,
#letter13,
#letter16,
#letter18,
#letter22 {
  display: inline-block;
  animation: scaleUp 1s, rotateIn1 1s;
}

#letter2,
#letter7,
#letter10,
#letter12,
#letter14,
#letter17,
#letter21 {
  display: inline-block;
  animation: scaleUp 1s, rotateIn2 1s;
}

#letter4,
#letter8,
#letter11,
#letter15,
#letter19,
#letter20 {
  display: inline-block;
  animation: scaleUp 1s, rotateIn3 1s;
}

#letter1:hover,
#letter3:hover,
#letter5:hover,
#letter6:hover,
#letter9:hover,
#letter13:hover,
#letter16:hover,
#letter18:hover,
#letter22:hover {
  display: inline-block;
  color: white;
  transform: scale(1.2) rotate(-3deg);
  transition: all ease-in-out 0.2s;
  cursor: default;
}

#letter2:hover,
#letter7:hover,
#letter10:hover,
#letter12:hover,
#letter14:hover,
#letter17:hover,
#letter21:hover {
  display: inline-block;
  color: white;
  transform: scale(1.5) rotate(5deg);
  transition: all ease-in-out 0.2s;
  cursor: default;
}

#letter4:hover,
#letter8:hover,
#letter11:hover,
#letter15:hover,
#letter19:hover,
#letter20:hover {
  display: inline-block;
  color: white;
  transform: scale(1.7) rotate(2deg);
  transition: all ease-in-out 0.2s;
  cursor: default;
}

@media (max-width: 520px) {
  .skills_list {
    margin-left: 0;
  }
  #css {
    font-size: 10rem;
    margin-top: -2rem;
  }
  #html {
    font-size: 6.5rem;
    margin-top: 2rem;
  }
  #javascript {
    font-size: 3rem;
    margin-top: -2rem;
  }

  #react {
    font-size: 5.7rem;
    margin-top: -1rem;
  }
}
