.nav_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: black;
  height: 80px;
  position: fixed;
  animation: slideInFromTop 2s ease-in-out 0s 1;
  z-index: 100;
}

.nav_body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin-right: 20%;
  margin-left: 20%;
}
.nav_logo {
  left: 0;
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 3rem;
}

.logo_icon {
  width: 3rem;
  transition: all 0.2s ease-in-out;
}

.logo_icon:hover {
  margin-top: 2rem;
  margin-left: 2rem;
  transform: rotate(-9deg) scale(2);
  transition: all 0.5s ease-in-out;
}

.nav_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  text-align: center;
}

.nav_icon {
  max-width: 60px;
  width: 20px;
  opacity: 1;
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
}

.nav_div:hover .nav_icon {
  opacity: 0.3;
  cursor: pointer;
  transform: scale(3);
  visibility: visible;
}

.link_text {
  font-family: 'Rajdhani', sans-serif;
  color: #4be3ac;
  text-decoration: none;
  position: absolute;
  visibility: hidden;
  text-align: center;
  font-size: 7px;
  transition: all 0.3s ease-in-out;
}

.nav_link_active p {
  visibility: visible;
  transform: scale(2);
}

.nav_link_active .nav_icon {
  max-width: 60px;
  opacity: 1;
  transform: scale(3);
  transition: all 0.5s ease-in-out;
}

.nav_div:hover .link_text {
  visibility: visible;
  transform: scale(2);
}

#about_link {
  padding-left: 0.3ch;
  padding-top: 0.1ch;
}

#skills_link {
  padding-left: 0.5ch;
  padding-top: 0.7ch;
}

#portfolio_link {
  padding-right: 1ch;
  padding-top: 1.5ch;
}

.logo_mobile {
  display: none;
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(9deg);
  }
}

@keyframes rotateLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-9deg);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.7);
  }
}

@media (max-width: 800px) {
  .nav_wrapper {
    background: none;
  }
  .nav_body {
    display: none;
  }
  .nav_logo {
    display: none;
  }
  .nav_link {
    display: none;
  }
  .logo_mobile {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
    &_image {
      width: 5rem;
    }
  }
}
