footer {
  position: absolute;
  bottom: 0;
  background-color: black;  
  height: 10ch;
  width: 100%;
}

.footer_wrapper {
    display: flex;
    justify-content: center;
}

footer h2 {
    color: white;
}