footer {
  position: absolute;
  bottom: 0;
  background-color: black;  
  height: 10ch;
  width: 100%;
}

.footer_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.links_container p {
    color: white;
    padding: 3ch;
}

.links_container {
    display: flex;
    flex-direction: row;
}