@import './sass/animations.scss';
@import './sass/mixins.scss';
@import './sass/variables.scss';

#root {
  height: 100vh;
  width: 100vw;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 75%;
  }
}
*::selection {
  color: hotpink;
}
html.wf-loading * {
  opacity: 0;
}

body {
  box-sizing: border-box;
  background: $color-primary-dark;

  @include respond(tab-port) {
    padding: 0;
  }
}
