*::selection {
  color: pink;
}

html.wf-loading * {
  opacity: 0;
}

body {
  background-color: #1b262c;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(9deg);
  }
}

/* body */
.main_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}

.wireframe_image {
  position: absolute;
  width: 70%;
  top: 10%;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 7rem;
  background: none;
  z-index: 1;
  transform: rotate(9deg);
  color: white;
  animation: fadeIn 2s;
  animation: rotateIn 3s;
}

.h1_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  position: absolute;
  left: 20%;
  top: 30%;
}

.svg_animation {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  vertical-align: middle;
  position: absolute;
  right: 20%;
  top: 25%;
}

@keyframes show {
  to {
    opacity: 1;
  }
}

.final_r {
  position: absolute;
  place-self: center;
  height: 500px;
  width: 400px;
  opacity: 0;
  animation-name: show;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.box_image {
  z-index: -1;
  position: absolute;
  transform: scale(0.8);
}

.top {
  margin-bottom: -30px;
}

.subtitle {
  font-size: 1.2rem;
  color: grey;
  font-family: 'Rajdhani', sans-serif;
  animation: fadeIn 2s;
}

#about_icon {
  width: 60px;
}
#skills_icon {
  width: 60px;
}

#about_icon:hover {
}

.contact_me {
  width: 150px;
  height: 60px;
  border-radius: 10px;
  font-size: 24px;
  background: none;
  border: 4px solid #4be3ac;
  color: white;
  margin-top: 30px;
  font-family: 'Saira Condensed', sans-serif;
}

.contact_me:hover {
  background-color: #4be3ac;
  cursor: pointer;
  color: #1b262c;
  border: 4px solid #4be3ac;
  outline: none;
}

.contact_me:focus {
  outline: none;
}

/* side nav */

/* nav */
.nav_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: black;
  height: 80px;

  animation: 2s ease-out 0s 1 slideInFromTop;
}

.nav-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin-right: 20%;
  margin-left: 20%;
}
.nav-logo {
  left: 0;
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 3rem;
}

.logo-icon {
  width: 3rem;
}

.logo-icon:hover {
  transform: rotate(-9deg) scale(1.7);
  transition: 0.5s ease-in-out;
  margin-top: 1rem;
}

.nav_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  text-align: center;
}

/* #home_div {
  background-color: #0f4c81;
}

#about_div {
  background-color: #ed6663;
}

#skills_div {
  background-color: #ffa372;
}

#portfolio_div {
  background-color: #ed6663;
}

#contact_div {
  background-color: #0f4c81;
} */

/* blob button */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.buttons {
  margin-top: 30px;
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  /* text-transform: uppercase; */
  color: #4be3ac;
  font-size: 16px;
  font-weight: bold;
  background-color: #1b262c;
  outline: none;
  border: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 10px;
  animation: fadeIn 4s;
}
.blob-btn:before {
  content: '';
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #4be3ac;
  border-radius: 10px;
  background-color: none;
}
.blob-btn:after {
  content: '';
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btn:hover {
  color: #1b262c;
  border-radius: 10px;
}
.blob-btn:hover:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: none;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  -webkit-filter: url('#goo');
  filter: url('#goo');
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #4be3ac;
  border-radius: 100%;
  -webkit-transform: translate3d(0, 150%, 0) scale(1.7);
  transform: translate3d(0, 150%, 0) scale(1.7);
  -webkit-transition: -webkit-transform 0.45s;
  transition: -webkit-transform 0.45s;
  transition: transform 0.45s;
  transition: transform 0.45s, -webkit-transform 0.45s;
}
@supports ((-webkit-filter: url('#goo')) or (filter: url('#goo'))) {
  .blob-btn__blob {
    -webkit-transform: translate3d(0, 150%, 0) scale(1.4);
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  -webkit-transition-delay: 0.08s;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  -webkit-transition-delay: 0.16s;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  -webkit-transition-delay: 0.24s;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  -webkit-transform: translateZ(0) scale(1.7);
  transform: translateZ(0) scale(1.7);
}
@supports ((-webkit-filter: url('#goo')) or (filter: url('#goo'))) {
  .blob-btn:hover .blob-btn__blob {
    -webkit-transform: translateZ(0) scale(1.4);
    transform: translateZ(0) scale(1.4);
  }
}

.nav_icon {
  max-width: 60px;
  width: 20px;
  opacity: 100%;
  transition: all 0.5s ease-in-out;
}

.nav_div:hover .nav_icon {
  opacity: 30%;
  cursor: pointer;
  transform: scale(1);
  visibility: visible;
}

.link_text {
  font-family: 'Rajdhani', sans-serif;
  color: #4be3ac;
  text-decoration: none;
  position: absolute;
  visibility: hidden;
  text-align: center;
  font-size: 7px;
  transition: all 0.3s ease-in-out;
}

.nav_link--active p {
  visibility: visible;
  transform: scale(2);
}

.nav_link--active .nav_icon {
  max-width: 60px;
  opacity: 100%;
  transform: scale(0.5);
  transition: all 0.5s ease-in-out;
}

.nav_div:hover .link_text {
  visibility: visible;
  transform: scale(2);
}

#hood {
  fill-opacity: 0;
  stroke: #94fc13;
  stroke-width: 1;
  stroke-dasharray: 3309;
  stroke-dashoffset: 3309;
  animation-iteration-count: 1;
  animation: draw 5s linear;
  animation-delay: 1s;
}

#wireframe_path {
  fill-opacity: 0;
  stroke: #94fc13;
  stroke-width: 1;
  stroke-dasharray: 11642;
  stroke-dashoffset: 11642;
  animation-iteration-count: 1;
  animation: draw 5s linear;
  animation-delay: 1s;
  opacity: 0.3;
}

.wireframe_svg {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 11%;
}

@keyframes show2 {
  to {
    opacity: 0.3;
  }
}
.wireframe_final {
  position: absolute;
  opacity: 0;
  animation-name: show2;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* contact form */

.contact_wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-top: 25ch;
  width: 100%;
}

.header_field {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 4ch;
}

#contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  margin-top: 2%;
}

.name-control {
  border-radius: 50px;
  border: none;
  padding: 20px;
  width: 55ch;
  background-color: #384d56;
  color: white;
  margin: 10px;
  font-size: 18px;
  animation: 0.6s ease-out 0s 1 slideInFromTop;
}
.name-control:focus {
  outline: none;
  border-bottom: 3px solid #94fc13;
}

.message-control {
  border-radius: 50px;
  border: none;
  padding: 20px;
  width: 55ch;
  background-color: #384d56;
  color: white;
  margin: 10px;
  font-size: 18px;
  animation: 1s ease-out 0s 1 slideInFromTop;
}
.message-control:focus {
  outline: none;
  border-bottom: 3px solid #94fc13;
}

.input_group {
  display: flex;
  flex-direction: column;
}

textarea {
  border-radius: 30px;
  border: none;
  padding: 20px;
  resize: none;
  background-color: #384d56;
  color: white;
  margin: 10px;
  font-size: 18px;
  width: 55ch;
  animation: 1s ease-out 0s 1 slideInFromTop;
}

textarea:focus {
  outline: none;
  border-bottom: 3px solid #94fc13;
}

::placeholder {
  color: grey;
  font-size: 18px;
}
.typewriter {
  width: fit-content;
  text-align: center;
}
.typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 90px;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #94fc13;
  }
}

/* .footer {
  background-color: black;
  width: 100%;
  height: 5rem;
  flex-shrink: 0;
  position: relative;
  bottom: 0;
  left: 0;
  color: white;
} */

.footer_content {
  display: flex;
  justify-content: center;
}

.footer_icon {
  color: white;
}
i {
  width: 30px;
  color: white;
}
