*::selection {
  color: hotpink;
}

html.wf-loading * {
  opacity: 0;
}

body {
  background-color: #1b262c;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(9deg);
  }
}

/* body */
.main_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes show2 {
  to {
    opacity: 0.3;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
