.portfolio_wrapper {
    padding-top: 25ch;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.project_one_wrapper {
    background-color: white;
    height: 30rem;
    width: 40%;
    margin-right: 5%;
    border-radius: 20px;

}

.project_gif {
  width: 30rem;
  overflow: hidden;
}

.project_gif:hover {
    webkit-filter: blur(4px);
    filter: blur(4px);
}
.project_two_wrapper {
    background-color: white;
    height: 30rem;
    width: 40%; 
    margin-left: 5%;
    border-radius: 20px; 
}

.project_header {
    text-align: center;
    height: 10%;
    padding: 3ch;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.3rem;

}
.project_body {
    display: flex;
    justify-content: center;
    height: 75%;
    font-family: 'Rajdhani', sans-serif;
}
.project_footer {
    display: flex;
    flex-direction: row;
    bottom: 0;
}

.project_footer p {
    font-size: 1rem;
    padding: 3ch;
    font-family: 'Rajdhani', sans-serif;

}

