.portfolio_wrapper {
    padding-top: 25ch;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.project_one_wrapper {
    background-color: white;
    height: 30rem;
    width: 40%;
    margin-right: 5%;
}

.project_two_wrapper {
    background-color: white;
    height: 30rem;
    width: 40%; 
    margin-left: 5%; 
}